@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

:root{
    --bg: #f0f4f3;
    --theme: #3ab19b;
    --theme-two: #fff;
    --text: #697a79;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1041%26quot%3b)' fill='none'%3e%3cpath d='M498.63733931878437 172.26390861947507L389.9259262262063 301.57065907391274 534.886873169371 329.7482127536215z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1326.17 211.51 a98.4 98.4 0 1 0 196.8 0 a98.4 98.4 0 1 0 -196.8 0z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M623.3021323753214 24.97215882050169L705.5492149940573 72.45753411049023 670.7875076653099-57.27492379823414z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1041.56 261.28 a131.88 131.88 0 1 0 263.76 0 a131.88 131.88 0 1 0 -263.76 0z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M296.7026608693488 132.07315114765737L395.6646447588889 5.656105903496183 257.0507774022251-16.298173899008503z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M431.42097384684047 232.3114264392361L445.6760621640802 397.0559937583092 565.5140902637891 316.2242231634535z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1187.85 130.95 a142.45 142.45 0 1 0 284.9 0 a142.45 142.45 0 1 0 -284.9 0z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M128.92809981441673 335.859000937569L28.503691757512243 242.032634627198-0.5608111536137415 358.60398874583916z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M505.29 179.44 a184.15 184.15 0 1 0 368.3 0 a184.15 184.15 0 1 0 -368.3 0z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M100.25 193.4 a129.56 129.56 0 1 0 259.12 0 a129.56 129.56 0 1 0 -259.12 0z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M4.91 487.73 a143.36 143.36 0 1 0 286.72 0 a143.36 143.36 0 1 0 -286.72 0z' fill='rgba(77%2c 255%2c 0%2c 0.61)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1041'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    font-family: "Montserrat", sans-serif;
    color: var(--text);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
body::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3cpath d='M1044.74 422.25 a167.04 167.04 0 1 0 334.08 0 a167.04 167.04 0 1 0 -334.08 0z' fill='rgba(245%2c 255%2c 0%2c 0.81)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M737.28 290.13 a168.77 168.77 0 1 0 337.54 0 a168.77 168.77 0 1 0 -337.54 0z' fill='rgba(245%2c 255%2c 0%2c 0.81)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M317.42 100.3 a184.76 184.76 0 1 0 369.52 0 a184.76 184.76 0 1 0 -369.52 0z' fill='rgba(245%2c 255%2c 0%2c 0.81)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M122.46 7.13 a125.91 125.91 0 1 0 251.82 0 a125.91 125.91 0 1 0 -251.82 0z' fill='rgba(245%2c 255%2c 0%2c 0.81)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M702.67 124.99 a167.58 167.58 0 1 0 335.16 0 a167.58 167.58 0 1 0 -335.16 0z' fill='rgba(245%2c 255%2c 0%2c 0.81)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1181.82 435.53 a130.15 130.15 0 1 0 260.3 0 a130.15 130.15 0 1 0 -260.3 0z' fill='rgba(245%2c 255%2c 0%2c 0.81)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M671.27 534.62 a129.44 129.44 0 1 0 258.88 0 a129.44 129.44 0 1 0 -258.88 0z' fill='rgba(245%2c 255%2c 0%2c 0.81)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-72.3 514.28 a114.6 114.6 0 1 0 229.2 0 a114.6 114.6 0 1 0 -229.2 0z' fill='rgba(245%2c 255%2c 0%2c 0.81)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
*/

main.panel{
    max-width: 900px;
    width: 90vw;
    background: var(--theme-two);
    border-radius: 20px;
    box-shadow: 0 2px 5px -6px var(--text), 0 0 30px -50px var(--text);
    display: flex;
}

main.panel .panel_half{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    padding: 2rem 1rem;
}

main.panel h2{
    font-size: 1.9rem;
    text-transform: capitalize;
}

main.panel p {
    margin: 1rem 0;
    max-width: 300px;
    width: 100%;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
}

main.panel a,
main.panel button{
    color: inherit;
    font-family: inherit;
}

main.panel a{
    text-decoration: none;
    margin: 1rem;
}

main.panel .links a{
    display: inline-block;
    font-weight: 500;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid currentColor;
    border-radius: 50%;
}

main.panel .links a:hover, 
main.panel .links a:focus{
    background-color: var(--text);
    color: var(--theme-two);
}

form>a{
    position: relative;
}

form>a::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px dashed currentColor; 
    opacity: 0.4;
}

main.panel form input{
    margin: 0.5rem 0;
    width: 300px;
    padding: 1rem 0.75rem;
    background-color: var(--bg);
    border: none;
    color: inherit;
    font-family: inherit;
}

main.panel form input::placeholder{
    opacity: 0.8;
}

main.panel button{
    background: none;
    border: 3px solid currentColor;
    border-radius: 50px;
    padding: 0.85rem 2.75rem;
    margin: 2rem 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

.panel_half.half--first{
    flex-grow: 2;
    border-radius: inherit;
    border-bottom-right-radius: 0 ;
    border-top-right-radius: 0;
}

.panel_half.half--first button{
    background: var(--theme);
    color: var(--theme-two);
}

.btn-contact:hover{
    box-shadow: 0 0 10px 2px var(--text);
}

.panel_half.half--second{
    flex-grow: 1;
    border-radius: inherit ;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: var(--theme);
    color: var(--theme-two);
    padding: 2rem;
}

@media (max-width: 768px){
    main.panel{
        flex-direction: column;
        border-radius: none;
        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: none;
    }
}